.background-gradient {
  background: linear-gradient(300deg, #F1E5D1, #DBB5B5, #C39898);
}

.img {
  border-radius: 75%;
  width: 400px;
  border-width: 10px;
  border-color: black;
}

#body {
  display: grid;
  height: 100vh;
  justify-content: center;
  grid-template-columns: 500px 400px;
  padding: 2rem;
  gap: 20px;
}

p {
  margin-top: 10px;
  text-align: justify;
}

li {
  text-align: justify;
  padding: 0;
  gap: 10px;
}