.background-gradient {
  background: linear-gradient(300deg, #F1E5D1, #DBB5B5, #C39898);
}

.pic {
  border-radius: 75%;
  width: 400px;
}

p {
  margin-top: 10px;
  text-align: justify;
}

li {
  text-align: justify;
  padding: 0;
  gap: 10px;
}