.background-gradient {
  background: linear-gradient(300deg, #F1E5D1, #DBB5B5, #C39898);
}

.container-body {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  justify-content: center;
  margin: 50px;
  gap: 10px;
}

#body {
  height: 80vh;
}