.background-gradient {
  background: linear-gradient(300deg, #F1E5D1, #DBB5B5, #C39898);
}

.container-body {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  
}

#footer {
  position: sticky;
}